---
import Headline from '@components/Headline.astro'
import ListRecipes from '@components/ListRecipes.astro';
import Layout from '@layouts/Layout.astro';
import Section from '@layouts/Section.astro';
---

<Layout title="Joda Recips">
	<Section>
		<div class="flex flex-col justify-center h-full">
			<Headline text='Recips' classAdd='text-center' />

			<div class="flex-grow">
				<ListRecipes />
			</div>
		</div>
	</Section>
</Layout>

